
.sign-up-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.sign-up-form h2 {
    text-align: center;
    color: #333;
}

.sign-up-form form {
    display: flex;
    flex-direction: column;
}

.sign-up-form label {
    margin-bottom: 10px;
}

.sign-up-form input,
.sign-up-form button {
    padding: 10px;
    margin-bottom: 15px;
}

.sign-up-form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.sign-up-form button:hover {
    background-color: #555;
}