
.sign-in-form {
    max-width: 400px;
    padding: 20px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.sign-in-form h2 {
    text-align: center;
    color: #333;
}

.sign-in-form form {
    display: flex;
    flex-direction: column;
}

.sign-in-form label {
    margin-bottom: 10px;
}

.sign-in-form input,
.sign-in-form button {
    padding: 10px;
    margin-bottom: 15px;
}

.sign-in-form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.sign-in-form button:hover {
    background-color: #555;
}
.SignUp{
    text-align: center;
}
.SignUp a{
    color:rgb(55, 90, 228);
}
.SignUp a:hover{
    background-color: rgb(79, 129, 209);
    color: #fff;
}
.sign_in_by {
    text-align: center;
    background-color:aliceblue;
}

.face_signin,
.google_signin {
    width: 40px;
    margin-top: 10px;
}

.sign_in_by a {
    margin: 0 10px;
}
 