
.write-post-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.write-post-form h2 {
    text-align: center;
    color: #333;
}

.write-post-form form {
    display: flex;
    flex-direction: column;
}

.write-post-form label {
    margin-bottom: 10px;
}

.write-post-form input,
.write-post-form textarea,
.write-post-form button {
    padding: 10px;
    margin-bottom: 15px;
}

.write-post-form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.write-post-form button:hover {
    background-color: #555;
}
.blank-profile{
    width: 20px;
    padding-left: 5px;
    vertical-align: middle;
}
