
body {
    background-image: url("../Project's pictures/1.png");
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: 100%;
}

header {
    background-image: url("../Project's pictures/logo2.png");
    background-size: 30%;
    background-repeat: no-repeat;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 a {
    text-decoration: none;
    color: #fff;
}

.logo {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav {
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

nav a:hover {
    color: #007BFF;
}

nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #007BFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

footer {
    color: #fff;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -7px;
}

.social-media {
    margin-top: 20px; 
}

.copyright {
    margin-top: 20px;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
}

.social-media a {
    margin: 0 10px; 
}

.face, .insta, .youtube, .whats, .tele {
    width: 30px;
    height: 30px;
}

.info{
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    padding: 30px 0 0 0;
    text-align: center;
}

.user-info {
    position: absolute;
    top: 10px;
    right: 10px;
}

.user-info span  {
    color: #fff;
    margin-right: 10px;
}

.logout-button , .personal-info {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
}

.logout-button:hover,
.personal-info:hover {
    background-color: #555;
}

.edit-profile-form {
    max-width: 400px;
    margin: 20px auto; 
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
}

.edit-profile-form h2 {
    text-align: center;
    margin-bottom: 20px; 
}

.edit-profile-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; 
}

.edit-profile-form input[type="text"],
.edit-profile-form input[type="email"],
.edit-profile-form input[type="number"],
.edit-profile-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.edit-profile-form input[type="submit"] {
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.edit-profile-form input[type="submit"]:hover {
    background-color: #0056b3; 
}

.delete-account-button {
    background-color: #ff0000; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.delete-account-button:hover {
    background-color: #cc0000;
}
